@font-face {
  font-family: "iconfont"; /* Project id 2516651 */
  src: url('iconfont.woff2?t=1621137698760') format('woff2'),
       url('iconfont.woff?t=1621137698760') format('woff'),
       url('iconfont.ttf?t=1621137698760') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-test:before {
  content: "\e63d";
}

.icon-icon-test1:before {
  content: "\e63e";
}

.icon-icon-test2:before {
  content: "\e63f";
}

.icon-wode-xianxing-4:before {
  content: "\e657";
}

.icon-diannao:before {
  content: "\e629";
}

.icon-rili:before {
  content: "\e62a";
}

.icon-biaobai:before {
  content: "\e62b";
}

.icon-gouwu:before {
  content: "\e62c";
}

.icon-shanchu:before {
  content: "\e62d";
}

.icon-qianbao:before {
  content: "\e62e";
}

.icon-shouji:before {
  content: "\e62f";
}

.icon-wenjian:before {
  content: "\e630";
}

.icon-cunchu:before {
  content: "\e631";
}

.icon-xinfeng:before {
  content: "\e632";
}

.icon-shuben:before {
  content: "\e633";
}

.icon-shipin:before {
  content: "\e634";
}

.icon-liwu:before {
  content: "\e635";
}

.icon-jijiu:before {
  content: "\e636";
}

.icon-tupian:before {
  content: "\e637";
}

.icon-sheying:before {
  content: "\e638";
}

.icon-tongxun:before {
  content: "\e639";
}

.icon-zhangdan:before {
  content: "\e63a";
}

.icon-bianzu2:before {
  content: "\e63b";
}

.icon-bianzu:before {
  content: "\e63c";
}

